<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>

        <!--[ PARTIAL - Nav ]-->
        <%- include ('nav.ejs')  %> 

        <br>

        <div class="form">

            <!--| FORM - POST |-->
            <form id="message-user" method="POST" action="/contact">
                <div>
                    <label for="who">Target userame \\ </label>
                    <input name="who" type="text" class="glow-text" autocomplete="off"/>
                </div>
                <div id="message-input">
                    <label for="what">Message \\ </label>
                    <input name="what" type="text-area" class="glow-text" autocomplete="off"/>
                </div>
                <button>SEND >> </button>
            </form>

        </div>

        <br>

        <p>
            <strong style="color:#2bff00" class="glow-text">></strong>
            Communication channel open... 
        </p> 
        
    </body>
</html>
